main {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.hero {
  display: flex;
  justify-content: center;
}
.hero h1 {
  font-size: 36px;
}
.hero img {
  max-width: 60px;
}
table {
  background-color: lightgrey;  
}
table td, table th {
  font-size: 12px;
  padding: 2px;
  border: 0.3px solid black;
  max-width: 52px;  
}
table td {
  font-size: 10px;
}
table th.regular {
  background-color: cyan;
}
table th.playoffs {
  background-color: orange;
}
table th.empty {
  border: none;  
}

table.search {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}
table.search tr {
  cursor: pointer;
}