main {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 24px 0;
}
.hero {
  display: flex;
  justify-content: center;
}
.hero h1 {
  font-size: 36px;
  margin-top: 12px;
}
.hero img {
  max-width: 60px;
}

/* PLAYER CARDS */
.players-container {
  width: 85%;
  margin: 0 auto;
}
h2 {
  margin: 12px 0;
}
table {
  background-color: lightgrey;  
  margin: 0 auto;
  border-radius: 6px;
  padding: 6px;
}
table td, table th {
  font-size: 11px;  
  padding: 2px;
  border: 0.3px solid black;  
  /* max-width: 52px;   */
}
table thead td {
  font-weight: 700;
  font-size: 12px;
}
table th.regular {
  background-color: lightblue;
}
table th.playoffs {
  background-color: lightcoral;
}
table th.empty {
  border: none;  
}

/* SEARCH */
.search-container {
  display: flex;
  align-items: center;
  max-width: 75%;
  margin: 0 auto;
  width: 100%;
  margin: 0 auto;
  gap: 32px;
}
table.search {
  width: 100%;
  margin: 0 auto;
}
table.search tr {
  cursor: pointer;
}
form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: start;
}